section {
  margin: 20px;
  }

/* projet AP */
.project {
	flex: 0 0 400px;
	height: 400px; /* Set the height of each project */
	margin: 0 10px;
	padding: 20px;
	background-color: #272833;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	color: white;
  cursor: pointer;
  }
  
  .project .image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px; /* Set the height of the image container */
	overflow: hidden;
  }
  
  .project img {
	width: 100%;
	height: auto;
	object-fit: cover; /* Crop the image to fit */
  }
  
  .project-name {
	margin-top: 10px;
	font-weight: bold;
  }
  
  .project-description {
	margin-top: 5px;
	font-size: 14px;
  }
  
  .project .badge-container {
  height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }
  
  .project .badge {
	width: 50px;
	height: 50px;
	margin: 0 5px;
  }